* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f5132, #198754);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 500px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.page {
  display: none;
  padding: 30px;
  text-align: center;
}

.page.active {
  display: block;
}

h1 {
  color: #000000;
  margin-bottom: 10px;
}

h2 {
  color: #f59e0b;
  margin-bottom: 10px;
}

.sub {
  color: #666;
  font-size: 14px;
  margin-bottom: 25px;
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

textarea {
  height: 120px;
  resize: none;
}

.primary-btn {
  background: #f59e0b;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}


.secondary-btn {
  background: #000000;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  gap: 10px;
  
}

.btn-group button {
  width: 50%;
}

.nav {
  position: absolute;
  bottom: 30px;
}

.nav button {
  background: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  margin: 0 5px;
  cursor: pointer;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background Image */
  background-image:
    linear-gradient(
      rgba(237, 241, 242, 0.765),
      rgba(253, 255, 254, 0.85)
    ),
    url("bgmig.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Poppins', sans-serif;
}

